/* Force visibility of dots */
.owl-dots {
  display: block !important;
  position: absolute !important;
  bottom: -30px; /* Adjust if needed */
  left: 50%;
  transform: translateX(-50%);
}

.owl-dots .owl-dot {
  display: inline-block !important;
  background: rgba(41,41,41,0.2) !important; /* Dots color */
  margin: 0 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.owl-dots .owl-dot.active {
  background: #333 !important; /* Active dot color */
}


.dropdown-toggle::after {
  display: inline-block;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}
.ml-0{
  margin-left: 2px;}
  pre {
    background: #23241f;
    color: #f8f8f2;
  }